git+https://github.com/Rapptz/discord.py
aiohttp==3.6.2
altgraph==0.17
astroid==2.3.3
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.3
discord==1.0.1
discord.py==1.5.0
numpy==1.18.0
pandas==1.1.2
requests==2.24.0

